scipy==1.7.0
matplotlib==3.4.2
pycountry==20.7.3
fake_useragent==0.1.11
seaborn==0.11.1
pandas==1.2.5
hdbscan==0.8.27
pmdarima==1.8.3
requests==2.26.0
umap_learn==0.5.1
numpy==1.21.4
beautifulsoup4==4.10.0
scikit_learn==1.0.2
umap==0.1.1
